[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "i3-gaps"]
	path = i3-gaps
	url = https://github.com/Airblader/i3.git
	branch = gaps
[submodule "fonts/san-francisco"]
	path = fonts/san-francisco
	url = https://github.com/supermarin/YosemiteSanFranciscoFont.git
